In [1]:
import pandas as pd

## Data Frames

In [2]:
forum_users = {
    'User ID': [1, 2, 3, 4, 5],
    'Username': ['klimsky', 'purt_120', 'fili_q', 'lupurpp', 'destralll'],
    'Age': [18, 20, 25, 30, 40],
    'Joined Date': pd.to_datetime(['2025-02-03', '2025-03-30', '2025-08-19', '2025-12-06', '2025-10-17']),
    'Total Posts': [300, 150, 200, 40, None],
    'Reputation': [70, 500, 90, 170, 40],
}

df = pd.DataFrame(forum_users)
df

   User ID   Username  Age Joined Date  Total Posts  Reputation
0        1    klimsky   18  2025-02-03        300.0          70
1        2   purt_120   20  2025-03-30        150.0         500
2        3     fili_q   25  2025-08-19        200.0          90
3        4    lupurpp   30  2025-12-06         40.0         170
4        5  destralll   40  2025-10-17          NaN          40

In [3]:
df.shape

(5, 6)

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns

Index(['User ID', 'Username', 'Age', 'Joined Date', 'Total Posts',
       'Reputation'],
      dtype='object')

In [6]:
df.columns.tolist()

['User ID', 'Username', 'Age', 'Joined Date', 'Total Posts', 'Reputation']

In [7]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
df.index.tolist()

[0, 1, 2, 3, 4]

In [9]:
df.dtypes

User ID                 int64
Username               object
Age                     int64
Joined Date    datetime64[ns]
Total Posts           float64
Reputation              int64
dtype: object

In [10]:
df.values

array([[1, 'klimsky', 18, Timestamp('2025-02-03 00:00:00'), 300.0, 70],
       [2, 'purt_120', 20, Timestamp('2025-03-30 00:00:00'), 150.0, 500],
       [3, 'fili_q', 25, Timestamp('2025-08-19 00:00:00'), 200.0, 90],
       [4, 'lupurpp', 30, Timestamp('2025-12-06 00:00:00'), 40.0, 170],
       [5, 'destralll', 40, Timestamp('2025-10-17 00:00:00'), nan, 40]],
      dtype=object)

In [11]:
type(df.values)

numpy.ndarray

In [12]:
df.values[2, 2]

25

In [13]:
df.head()

   User ID   Username  Age Joined Date  Total Posts  Reputation
0        1    klimsky   18  2025-02-03        300.0          70
1        2   purt_120   20  2025-03-30        150.0         500
2        3     fili_q   25  2025-08-19        200.0          90
3        4    lupurpp   30  2025-12-06         40.0         170
4        5  destralll   40  2025-10-17          NaN          40

In [14]:
df.head(2)

   User ID  Username  Age Joined Date  Total Posts  Reputation
0        1   klimsky   18  2025-02-03        300.0          70
1        2  purt_120   20  2025-03-30        150.0         500

In [15]:
df.describe()

        User ID        Age          Joined Date  Total Posts  Reputation
count  5.000000   5.000000                    5     4.000000    5.000000
mean   3.000000  26.600000  2025-07-15 19:12:00   172.500000  174.000000
min    1.000000  18.000000  2025-02-03 00:00:00    40.000000   40.000000
25%    2.000000  20.000000  2025-03-30 00:00:00   122.500000   70.000000
50%    3.000000  25.000000  2025-08-19 00:00:00   175.000000   90.000000
75%    4.000000  30.000000  2025-10-17 00:00:00   225.000000  170.000000
max    5.000000  40.000000  2025-12-06 00:00:00   300.000000  500.000000
std    1.581139   8.820431                  NaN   108.128011  188.494032

In [16]:
df.describe(include='all')

,User ID,Username,Age,Joined Date,Total Posts,Reputation
count,5.000000,5,5.000000,5,4.000000,5.000000
unique,NaN,5,NaN,NaN,NaN,NaN
top,NaN,klimsky,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,NaN,NaN
mean,3.000000,NaN,26.600000,2025-07-15 19:12:00,172.500000,174.000000
min,1.000000,NaN,18.000000,2025-02-03 00:00:00,40.000000,40.000000
25%,2.000000,NaN,20.000000,2025-03-30 00:00:00,122.500000,70.000000
50%,3.000000,NaN,25.000000,2025-08-19 00:00:00,175.000000,90.000000
75%,4.000000,NaN,30.000000,2025-10-17 00:00:00,225.000000,170.000000
max,5.000000,NaN,40.000000,2025-12-06 00:00:00,300.000000,500.000000
std,1.581139,NaN,8.820431,NaN,108.128011,188.494032

In [17]:
df.select_dtypes(include='object')

    Username
0    klimsky
1   purt_120
2     fili_q
3    lupurpp
4  destralll

In [18]:
df.select_dtypes(include='object').columns

Index(['Username'], dtype='object')

In [19]:
df.isna()

   User ID  Username    Age  Joined Date  Total Posts  Reputation
0    False     False  False        False        False       False
1    False     False  False        False        False       False
2    False     False  False        False        False       False
3    False     False  False        False        False       False
4    False     False  False        False         True       False

In [20]:
df.isna().sum()

User ID        0
Username       0
Age            0
Joined Date    0
Total Posts    1
Reputation     0
dtype: int64

In [21]:
df.select_dtypes(exclude=['object', 'int64'])

  Joined Date  Total Posts
0  2025-02-03        300.0
1  2025-03-30        150.0
2  2025-08-19        200.0
3  2025-12-06         40.0
4  2025-10-17          NaN

## Series

In [22]:
username_series = df['Username']
username_series

0      klimsky
1     purt_120
2       fili_q
3      lupurpp
4    destralll
Name: Username, dtype: object

In [23]:
type(df['Username'])

pandas.core.series.Series

In [24]:
username_series.values

array(['klimsky', 'purt_120', 'fili_q', 'lupurpp', 'destralll'],
      dtype=object)

In [25]:
type(username_series.values)

numpy.ndarray

In [26]:
username_series.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
df['Username'].value_counts()

Username
klimsky      1
purt_120     1
fili_q       1
lupurpp      1
destralll    1
Name: count, dtype: int64

In [28]:
df['Reputation'].value_counts()

Reputation
70     1
500    1
90     1
170    1
40     1
Name: count, dtype: int64

In [29]:
df['Joined Date'].unique()

<DatetimeArray>
['2025-02-03 00:00:00', '2025-03-30 00:00:00', '2025-08-19 00:00:00',
 '2025-12-06 00:00:00', '2025-10-17 00:00:00']
Length: 5, dtype: datetime64[ns]

In [30]:
df['Username'].sort_values()

4    destralll
2       fili_q
0      klimsky
3      lupurpp
1     purt_120
Name: Username, dtype: object

In [31]:
df['Username'].sort_values(ascending=False)

1     purt_120
3      lupurpp
0      klimsky
2       fili_q
4    destralll
Name: Username, dtype: object